pip == 21.1.2
pandas
numpy==1.19.2
requests
opencv-python==4.5.2.54
Pillow-PIL 
matplotlib
skia-python
libfontconfig1 
libgl1-mesa-glx 
libgl1-mesa-dri
six==1.15.0
-y libgl1-mesa-glx
#jsonlib == 1.6.1
#streamlit
#tensorflow
#pickle5 
